In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
depense = pd.read_csv('depenses.txt', sep='\t')
pd.set_option('display.max_columns',999)

In [3]:
depense.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11281 entries, 0 to 11280
Data columns (total 14 columns):
identifiant     11281 non-null int64
DepPerAn        11278 non-null float64
Alimentation    11281 non-null float64
Tabac           11281 non-null float64
Habillement     11281 non-null float64
Logement        11281 non-null float64
Meubles         11281 non-null float64
Hygiene         11281 non-null float64
Transport       11281 non-null float64
Telecom         11281 non-null float64
Loisirs         11281 non-null float64
Enseignement    11281 non-null float64
Restauration    11281 non-null float64
Autres          11281 non-null float64
dtypes: float64(13), int64(1)
memory usage: 1.2 MB

In [4]:
depense.head()

,identifiant,DepPerAn,Alimentation,Tabac,Habillement,Logement,Meubles,Hygiene,Transport,Telecom,Loisirs,Enseignement,Restauration,Autres
0,1,5500526.25,1473130.000,455000.0,0.0000,2667191.250,126750.0000,5.469050e+05,70200.0000,87200.0,0.0000,0.0,0.0,1350.0
1,2,10498390.25,4014575.000,0.0,753000.0000,3183215.250,312050.0000,1.766200e+06,0.0000,468000.0,0.0000,0.0,0.0,1350.0
2,3,4708935.93,1340553.375,0.0,511666.6563,1003382.563,115416.6641,3.856333e+05,138666.6719,772000.0,204533.3281,0.0,0.0,1350.0
3,4,NaN,1329471.250,391300.0,59000.0000,1048000.000,195750.0000,2.217775e+05,21060.0000,280625.0,148350.0000,183625.0,0.0,850.0
4,5,2325730.00,1110150.000,187200.0,13000.0000,288000.000,60125.0000,2.889050e+05,325000.0000,52000.0,0.0000,0.0,0.0,1350.0

In [5]:
menage = pd.read_excel('menage.xlsx')

In [6]:
menage.head()

,identifiant,pond,pondhh,seuilbasPauv,seuilhautPauv,region,csp,Taille,cat_taille,milieu,strate,Depdecile,Deptranche,FPauvreExt,FPauvre
0,1,882.0,441.0,756962,1276806,1,10,2,1,1,1,10,8,0,0
1,2,441.0,441.0,756962,1276806,1,10,1,1,1,1,10,8,0,0
2,3,NaN,441.0,756962,1276806,1,10,3,2,1,1,9,8,0,0
3,4,NaN,441.0,756962,1276806,1,1,4,2,1,1,9,7,0,0
4,5,882.0,441.0,756962,1276806,1,10,2,1,1,1,6,6,0,0

In [8]:
df = depense.merge(menage, on='identifiant', how='inner')

In [9]:
df.head()

,identifiant,DepPerAn,Alimentation,Tabac,Habillement,Logement,Meubles,Hygiene,Transport,Telecom,Loisirs,Enseignement,Restauration,Autres,pond,pondhh,seuilbasPauv,seuilhautPauv,region,csp,Taille,cat_taille,milieu,strate,Depdecile,Deptranche,FPauvreExt,FPauvre
0,1,5500526.25,1473130.000,455000.0,0.0000,2667191.250,126750.0000,5.469050e+05,70200.0000,87200.0,0.0000,0.0,0.0,1350.0,882.0,441.0,756962,1276806,1,10,2,1,1,1,10,8,0,0
1,2,10498390.25,4014575.000,0.0,753000.0000,3183215.250,312050.0000,1.766200e+06,0.0000,468000.0,0.0000,0.0,0.0,1350.0,441.0,441.0,756962,1276806,1,10,1,1,1,1,10,8,0,0
2,3,4708935.93,1340553.375,0.0,511666.6563,1003382.563,115416.6641,3.856333e+05,138666.6719,772000.0,204533.3281,0.0,0.0,1350.0,NaN,441.0,756962,1276806,1,10,3,2,1,1,9,8,0,0
3,4,NaN,1329471.250,391300.0,59000.0000,1048000.000,195750.0000,2.217775e+05,21060.0000,280625.0,148350.0000,183625.0,0.0,850.0,NaN,441.0,756962,1276806,1,1,4,2,1,1,9,7,0,0
4,5,2325730.00,1110150.000,187200.0,13000.0000,288000.000,60125.0000,2.889050e+05,325000.0000,52000.0,0.0000,0.0,0.0,1350.0,882.0,441.0,756962,1276806,1,10,2,1,1,1,6,6,0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11281 entries, 0 to 11280
Data columns (total 28 columns):
identifiant      11281 non-null int64
DepPerAn         11278 non-null float64
Alimentation     11281 non-null float64
Tabac            11281 non-null float64
Habillement      11281 non-null float64
Logement         11281 non-null float64
Meubles          11281 non-null float64
Hygiene          11281 non-null float64
Transport        11281 non-null float64
Telecom          11281 non-null float64
Loisirs          11281 non-null float64
Enseignement     11281 non-null float64
Restauration     11281 non-null float64
Autres           11281 non-null float64
pond             11261 non-null float64
pondhh           11271 non-null float64
seuilbasPauv     11281 non-null int64
seuilhautPauv    11281 non-null int64
region           11281 non-null int64
csp              11281 non-null int64
Taille           11281 non-null int64
cat_taille       11281 non-null int64
milieu           11281 non-null int64
strate           11281 non-null int64
Depdecile        11281 non-null int64
Deptranche       11281 non-null int64
FPauvreExt       11281 non-null int64
FPauvre          11281 non-null int64
dtypes: float64(15), int64(13)
memory usage: 2.5 MB

In [11]:
df.describe()

,identifiant,DepPerAn,Alimentation,Tabac,Habillement,Logement,Meubles,Hygiene,Transport,Telecom,Loisirs,Enseignement,Restauration,Autres,pond,pondhh,seuilbasPauv,seuilhautPauv,region,csp,Taille,cat_taille,milieu,strate,Depdecile,Deptranche,FPauvreExt,FPauvre
count,11281.000000,1.127800e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,1.128100e+04,11261.000000,11271.000000,11281.000000,1.128100e+04,11281.000000,11281.000000,11281.000000,11281.000000,11281.000000,11281.000000,11281.000000,11281.000000,11281.000000,11281.000000
mean,5641.000000,2.655933e+06,8.195674e+05,6.986698e+04,2.096896e+05,6.759837e+05,1.234772e+05,2.396192e+05,2.190151e+05,1.346054e+05,3.292668e+04,4.296149e+04,1.588636e+04,1.259304e+04,939.491075,216.449738,680944.890701,1.066630e+06,3.738942,6.914281,4.465118,2.471412,1.356351,2.112490,5.573619,5.372219,0.041131,0.144048
std,3256.688528,2.381155e+06,5.873267e+05,1.342523e+05,2.955763e+05,1.098527e+06,2.586159e+05,4.057343e+05,6.275734e+05,2.171105e+05,1.183574e+05,9.287917e+04,1.150417e+05,1.474829e+05,562.795490,104.516065,82448.051744,1.889664e+05,1.929892,3.095898,1.885050,0.955621,0.478942,0.766558,2.867418,1.748405,0.198602,0.351153
min,1.000000,1.475705e+05,0.000000e+00,0.000000e+00,0.000000e+00,4.029719e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,50.000000,50.000000,570873.000000,8.204130e+05,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,2821.000000,1.307642e+06,4.613260e+05,0.000000e+00,3.875000e+04,2.643427e+05,2.483000e+04,5.232500e+04,0.000000e+00,3.007143e+04,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+02,526.000000,164.000000,570873.000000,8.204130e+05,2.000000,5.000000,3.000000,2.000000,1.000000,2.000000,3.000000,4.000000,0.000000,0.000000
50%,5641.000000,2.032633e+06,6.794200e+05,0.000000e+00,1.192857e+05,4.488510e+05,4.914000e+04,1.258500e+05,7.280000e+04,8.666666e+04,1.206420e+03,1.310000e+04,0.000000e+00,1.350000e+03,865.000000,210.000000,732689.000000,1.157893e+06,4.000000,6.000000,4.000000,2.000000,1.000000,2.000000,6.000000,6.000000,0.000000,0.000000
75%,8461.000000,3.225041e+06,1.010746e+06,9.984000e+04,2.730000e+05,7.522750e+05,1.172000e+05,2.762800e+05,2.184000e+05,1.775000e+05,1.000000e+04,4.875000e+04,0.000000e+00,1.350000e+03,1235.000000,262.000000,732689.000000,1.157893e+06,5.000000,10.000000,6.000000,3.000000,2.000000,3.000000,8.000000,7.000000,0.000000,0.000000
max,11281.000000,6.010636e+07,1.417548e+07,3.050667e+06,8.999000e+06,4.853762e+07,1.081657e+07,1.173900e+07,2.531000e+07,1.489600e+07,3.269890e+06,2.740000e+06,4.000000e+06,8.109000e+06,8647.000000,2506.000000,756962.000000,1.276806e+06,7.000000,12.000000,15.000000,5.000000,2.000000,3.000000,10.000000,8.000000,1.000000,1.000000

In [12]:
df.isnull().sum()

identifiant       0
DepPerAn          3
Alimentation      0
Tabac             0
Habillement       0
Logement          0
Meubles           0
Hygiene           0
Transport         0
Telecom           0
Loisirs           0
Enseignement      0
Restauration      0
Autres            0
pond             20
pondhh           10
seuilbasPauv      0
seuilhautPauv     0
region            0
csp               0
Taille            0
cat_taille        0
milieu            0
strate            0
Depdecile         0
Deptranche        0
FPauvreExt        0
FPauvre           0
dtype: int64

In [13]:
menage.region.value_counts().sort_index()

1    1989
2    1543
3    1553
4    2101
5    1710
6    1204
7    1181
Name: region, dtype: int64

In [14]:
menage.FPauvre.value_counts().sort_index()

0    9656
1    1625
Name: FPauvre, dtype: int64

In [18]:
pd.set_option('float_format','{:.0f}'.format)

In [19]:
depense.describe()

,identifiant,DepPerAn,Alimentation,Tabac,Habillement,Logement,Meubles,Hygiene,Transport,Telecom,Loisirs,Enseignement,Restauration,Autres
count,11281,11278,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281
mean,5641,2655933,819567,69867,209690,675984,123477,239619,219015,134605,32927,42961,15886,12593
std,3257,2381155,587327,134252,295576,1098527,258616,405734,627573,217111,118357,92879,115042,147483
min,1,147570,0,0,0,40297,0,0,0,0,0,0,0,0
25%,2821,1307642,461326,0,38750,264343,24830,52325,0,30071,0,0,0,900
50%,5641,2032633,679420,0,119286,448851,49140,125850,72800,86667,1206,13100,0,1350
75%,8461,3225041,1010746,99840,273000,752275,117200,276280,218400,177500,10000,48750,0,1350
max,11281,60106359,14175480,3050667,8999000,48537616,10816572,11739000,25310000,14896000,3269890,2740000,4000000,8109000

In [20]:
df.describe()

,identifiant,DepPerAn,Alimentation,Tabac,Habillement,Logement,Meubles,Hygiene,Transport,Telecom,Loisirs,Enseignement,Restauration,Autres,pond,pondhh,seuilbasPauv,seuilhautPauv,region,csp,Taille,cat_taille,milieu,strate,Depdecile,Deptranche,FPauvreExt,FPauvre
count,11281,11278,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281,11261,11271,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281,11281
mean,5641,2655933,819567,69867,209690,675984,123477,239619,219015,134605,32927,42961,15886,12593,939,216,680945,1066630,4,7,4,2,1,2,6,5,0,0
std,3257,2381155,587327,134252,295576,1098527,258616,405734,627573,217111,118357,92879,115042,147483,563,105,82448,188966,2,3,2,1,0,1,3,2,0,0
min,1,147570,0,0,0,40297,0,0,0,0,0,0,0,0,50,50,570873,820413,1,1,1,1,1,1,1,1,0,0
25%,2821,1307642,461326,0,38750,264343,24830,52325,0,30071,0,0,0,900,526,164,570873,820413,2,5,3,2,1,2,3,4,0,0
50%,5641,2032633,679420,0,119286,448851,49140,125850,72800,86667,1206,13100,0,1350,865,210,732689,1157893,4,6,4,2,1,2,6,6,0,0
75%,8461,3225041,1010746,99840,273000,752275,117200,276280,218400,177500,10000,48750,0,1350,1235,262,732689,1157893,5,10,6,3,2,3,8,7,0,0
max,11281,60106359,14175480,3050667,8999000,48537616,10816572,11739000,25310000,14896000,3269890,2740000,4000000,8109000,8647,2506,756962,1276806,7,12,15,5,2,3,10,8,1,1

In [23]:
df.groupby(df.region).sum()

,identifiant,DepPerAn,Alimentation,Tabac,Habillement,Logement,Meubles,Hygiene,Transport,Telecom,Loisirs,Enseignement,Restauration,Autres,pond,pondhh,seuilbasPauv,seuilhautPauv,csp,Taille,cat_taille,milieu,strate,Depdecile,Deptranche,FPauvreExt,FPauvre
region,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1979055,7228481713,1944878366,186563463,508224225,2196767160,278884196,638786337,556608149,400118234,98104199,121923691,65774179,31822661,2433583,613000,1466866489,2428128637,13486,8141,4570,2161,2610,13720,12277,20,157
2,4260223,3609390854,1179987138,109394840,292328229,898259912,159515842,323184456,266063378,180659658,36497481,56220894,8586127,9231353,1478539,348691,1035844495,1599515835,10361,6559,3658,2151,3542,8447,8267,24,147
3,6691877,2960906449,1059775885,87201687,241884737,713852537,129671386,238936387,177100555,137559412,32802931,54377050,8099576,11496907,1219379,293535,986406241,1482326549,11324,6520,3624,2489,4042,6800,7205,103,324
4,12891736,7048731546,1960844661,191844875,561867588,1770150424,319598072,649005053,763066292,344570432,116878984,118170980,41292870,47832137,2474934,552666,1468180969,2332045693,14048,9500,5239,2646,4047,13985,12657,25,143
5,13750965,3085057736,1067404753,96201908,271458720,679602389,148019944,315752270,217050120,151450680,22904126,47357112,12256001,9154045,1409517,305022,1086235913,1645179921,12105,7932,4373,2768,4291,6957,7544,190,476
6,11436194,3300065154,1055517990,46987299,280018091,771866366,192341199,326834747,284760236,173876965,33004912,41202539,28495011,21429126,967909,202006,829858728,1296775688,8459,5985,3261,1553,2585,7003,6620,50,174
7,12626071,2720981287,977130733,69975334,209726542,595273528,164915827,210644846,206060580,130247607,31253285,45396322,14710216,11095823,595748,124685,808346477,1248678673,8217,5734,3155,1533,2714,5964,6034,52,204

In [30]:
CrossTab = pd.crosstab(menage.region,menage.FPauvre)

In [31]:
CrossTab

FPauvre     0    1
region
1        1832  157
2        1396  147
3        1229  324
4        1958  143
5        1234  476
6        1030  174
7         977  204

In [ ]:
from scipy.stats import chi2_contingency
g, p, dof, expct

In [28]:
menage.isnull().sum(axis=0)

identifiant       0
pond             20
pondhh           10
seuilbasPauv      0
seuilhautPauv     0
region            0
csp               0
Taille            0
cat_taille        0
milieu            0
strate            0
Depdecile         0
Deptranche        0
FPauvreExt        0
FPauvre           0
dtype: int64

In [29]:
depense.isnull().sum()

identifiant     0
DepPerAn        3
Alimentation    0
Tabac           0
Habillement     0
Logement        0
Meubles         0
Hygiene         0
Transport       0
Telecom         0
Loisirs         0
Enseignement    0
Restauration    0
Autres          0
dtype: int64